<!-- Modal -->
<div class="modal fade" data-backdrop="false" id="modalAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-justify">
              <h5 class="modal-title" id="exampleModalLabel">Hay un ganador</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-justify">
              {{ messageWin }}
            </div>
          </div>
    </div>
</div>
